* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #bdb7b7;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
     
}
.webname{
    height:37px;
    width:100%;
    position:fixed;
    top:10px;
}
.name{
    background-color:black;
    color:white;
    height:37px;
    width:30%;;
    font-size:22px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    border-radius:6px;
    left:33%;
}
#addBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    width:100px;
}
#addBtn:hover{
    cursor: pointer;
}

.note {
    width: 350px;
    height: 350px;
    background-color: white;
    margin: 15px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}
label{
    background-color: #635f5f;
    color: white;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 30px;
}
label:hover{
    cursor: pointer;
}
input{
    height: 35px;
}
.tool {
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.tool i {
    padding: 5px;
    cursor: pointer;
}

.note textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
}

.note textarea:focus {
    border: 0;
    outline: 0;
}
